body {
  height: 100vh;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #f8f8f8;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  background: radial-gradient(
      farthest-side ellipse at 10% 0,
      rgba(40, 40, 40, 0.9),
      rgba(90, 100, 130, 0.89),
      rgba(60, 60, 60, 0.9)
    ),
    url(@/assets/images/bgnoise_lg_dark.png);
}
p {
  margin: 0 0 10px;
}

.clearfix:before,
.clearfix:after {
  *zoom: 1;

  &:before,
  &:after {
    display: block;
    content: '';
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 4px 12px;
  font-size: 13px;
  line-height: 20px;
  border-radius: 1px;
  user-select: none;
}
.btn-transparent {
  background: rgba(51, 51, 51, 0.4);
  color: #fff;
  text-shadow: none;
  box-shadow: none;
}
.btn-white {
  background: none;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.btn-lg {
  padding: 8px 18px;
  font-size: 16.25px;
  line-height: 1.33;
}

//devops content
.content-wrap {
  margin: 57px 0 0 200px;
}
.conainer {
  position: relative;
  padding: 30px 2.5641%;
  transition: margin-top 0.35s ease, opacity 0.2s;
  max-width: none;
  width: auto;
  opacity: 1;
  color: #fff;
}
.content-section {
  background: rgba(51, 51, 51, 0.425);
  padding: 20px;
}
.blue-text {
  color: #3c8dbc;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 280px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
  .content-wrap {
    margin: 57px 0 0 0;
  }
}
